<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> | App</title>
</head>
<body>
    <h1>My TodoList</h1>

    <form action="/create-TodoList" method="POST">
        <input type="textarea" name="description" placeholder="what do you need to do?" required>
        <select id="Category" name="category">
            <option value="Select">Choose a Category</option>
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Coding">Coding</option>
        </select>
        <input type="date" name="duedate" required/>
        <input type="Submit" name="addtask" value="+ Add Task"/>
        <input type="Submit" name="deleteTask" value="- Delete Task"/>
    </form>  
</body>

</html>